body {
	background: #666;
	font-family: "Arial", Arial, sans-serif;
	font-size: 18px;
	color: #fff;	
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
}

h1, h2 {
	margin: 8px;
	clear: left;
}

h2 {
	font-weight: normal;
	font-size: 20px;
}

.module {
	width: 500px;
	min-height: 200px;
	height: auto;
	float: left;
	margin: 20px;

	vertical-align: text-top;
	text-align: center;

	border: 1px solid #173650;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;

	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	
	padding: 20px;

	background: -webkit-linear-gradient(
		top,
		#347797 0%,
		#347797 53%,
		#173650 100%
	);
	background: -moz-linear-gradient(
		top,
		#347797 0%,
		#e00e47 48%,
		#d30e43 53%,
		#c70e40 100%
	); /* Chrome10+,Safari5.1+ */
	
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}

.module.active {
	width:400px;
}

.module.tall {
	padding-bottom:200px;
}
