.accordion {
	list-style-type: none;
	position: relative;
	z-index:0;
}

.accordion label {
	display: block;
	width: 934px;
	padding-left: 24px;
	background: url("/common/images/global/lg-global-sprite.png") 0 -684px  no-repeat;
	font-family: "BryantLGMedium";
	text-transform: uppercase;
	cursor: pointer;
}

.accordion-item.active label, .accordion-expand-all.active label {
    background-position: 0 -660px;
	color: #d80546;
}

/* since the arrow can be used as a regular list or an accordion list, do some
   overrides, all just so that the "arrow" icon is part of the click trigger */
.accordion.arrow .accordion-item {
	padding-left: 0;
	background: none;
}

.accordion.arrow .accordion-item label {
	background: url("/common/images/global/lg-global-sprite.png") -301px -2px no-repeat;
	padding-left: 13px;
}

.accordion.arrow .accordion-item.active label {
	background-position: -297px -275px;
}

.accordion.arrow .accordion-content {
	margin-left: 15px;
}


.accordion-content {
	/* maintaining fluid height while using "max-height" to manipulate the
	   visible element allows us to efficiently get the actual client height */
	height: auto;
	/* accordions start off closed */
	max-height: 0;
	overflow: hidden;
}

/* ridiculous specificity is needed here because it must apply *only*
   to this exact accordion, and not to any accordions nested inside. */
.accordion.animate > .accordion-item > .accordion-content {
	-webkit-transition: max-height .5s ease-in-out;
	   -moz-transition: max-height .5s ease-in-out;
	        transition: max-height .5s ease-in-out;
}

.accordion-content div:first-child:before, .accordion-content div:first-child:after {
	content: "\0020";
	display: block;
	height: 0;
}

.accordion-content div:first-child:after {
	clear: both;
}

.accordion-content ul.first, .accordion-content ul.legend {
	width: 220px;
	margin-top: 12px;
	list-style: none;
	float: left;
}

.accordion-content ul.first > li, .accordion-content ul.legend > li {
	margin-bottom: 0;
	padding: 4px 0;
	padding-left: 50px;
}

.accordion-item {
	padding: 8px 0 8px 24px;
	border-bottom: 1px solid #ccc;
	width: 936px;
}

.accordion-item:first-child {
	border-top: 1px solid #ccc;
}

.accordion-img {
	width: 420px;
	float: left;
}

.accordion-img img {
	margin-left: 70px;
}

.accordion-expand-all {
	position: absolute;
	top: 8px;
	left: 770px;
	width: 170px;
	overflow:hidden;
}

.accordion-expand-all label {
	display:none;
}
