ul li.diff {
	background:#eedbdb;
}

ul li.sim {
	background:#dfeedb;
}

#compare-util {
	position:relative;
}

p.model-name a:link, p.model-name a:visited {
	color: #D80546;
}

.compare-modal {
	position:absolute;
	top:0px;
	left:300px;
	width:300px;
	padding: 20px;
	background: #ececec;
	background: -moz-linear-gradient(bottom, #dedede, white 60%);
	background: -webkit-gradient(linear, 0 0, 0 60%, from(#fff), to(#ececec));
	box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
	-moz-box-shadow: 0px 0px 4px #444;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
	z-index:1000;
}

.compare-modal.active {
	opacity:1;
	visibility:visible;
}
.no-csstransitions .compare-modal {
	display:none;
}

.no-csstransitions .compare-modal.active {
	display:block;
}

.compare-modal a.close {
	float: right;
	background: url("/common/images/global/lg-global-sprite.png") 0 -174px no-repeat transparent;
	height: 17px;
	width: 17px;
	text-indent: -9999px;
	cursor: pointer;
}

.compare-modal-content {
	display: none;
	padding-top: 12px;
}

.compare-modal-content section {
	margin-bottom: 12px;
}

.compare-modal-content label {
	margin-right: 12px;
}

.compare-modal-content select {
	vertical-align: top;
	margin-right: 12px;
	float:left;
}

.compare-modal-content p span {
	color: #D80546;
}

#product-details, #key-features {
	clear: left;
	float:left;
	width: 140px;
	padding-right: 10px;
}
#key-features {
	clear:none;
	display:none;
}

#product-details h4, #key-features h4 {
	margin-top: 8px;
	text-transform: uppercase;
	color: #D80546;
}

#product-details ul {
	margin-left: 12px;
	margin-bottom: 12px;
}

#product-image {
	float:left;
	width: auto;
	height: auto;
	min-width: 140px;
	min-height: 140px;
	margin-right: 8px;
	padding: 12px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
}

p.warning {
	color: red;
}

.cancel {
	float: left;
	margin-right: 12px;
}

#items-wrapper {
	position: relative;
	width: 720px;
	height: 250px;
	margin-bottom: 24px;
	overflow: hidden;
}

#items {
	position: relative;
	height: 220px;
	z-index: 1;
	display:none;
}

.item {
	position: relative;
	float: left;
	width: 203px;
	height: 212px;
	padding: 0px 20px;
	border-right: 1px dashed #ccc;
	z-index: 1;
}

.item:first-child {
	border-left: 1px dashed #ccc;
}

.remove {
	width: 0px !important;
	opacity: 0;
	-webkit-transition: width .3s linear .3s,  opacity .2s linear;
    -moz-transition: width .3s linear .3s,  opacity .2s linear;
    transition: width .3s linear .3s,  opacity .2s linear;
}

.item-utils {
	font-size: 10px;
	text-transform: uppercase;
}

.item-utils a{
	cursor: pointer;
}

#items-info-wrapper {
	width: 962px;
	height: 300px;
	overflow: hidden;
	overflow-y: auto;
}

.items-info {
	padding-left: 0px;
	width:960px;
}
.items-info:first-child {
	border-top: 1px solid #ccc;
}

.items-info-content {
	/* the actual width of the content will be set via javascript, but until
	   that is done, we don't want this stuff wrapping before its time,
	   because that will interfere with the accordion's size measurements. */
	width: 999em;
	overflow: hidden;
}

.items-info-content ul.first {
	float: left;
	width: 243px;
	margin-top: 12px;
	list-style: none;
	border-right: 1px dashed #ccc;
}

.items-info-content ul li {
	margin-bottom:0px;
	white-space: nowrap;
	height:16px;
}

.items-info-content ul.first > li, .items-info-content ul.legend > li {
	font-size: 11px;
	padding-left:30px;
}

.items-info-content ul:first-child {
	border-left: 1px dashed #ccc;
}

.items-info-content ul ul:first-child, .items-info-content ul.legend {
	border-left: 0px;
}

.items-info-content ul.legend {
	width: 239px;
	float: left;
}

.item-info-wrapper {
	float: left;
	margin-bottom: 24px;
	overflow:hidden;
}

.item-info {
	height: auto;
}

#modal-add-product button {
	float: left;
	clear: none;
}

#loader {
	position:absolute;
	top: 40px;
	left: 40px;
	width: 20px;
	height: 20px;
	background: url("/common/images/global/loader.gif") no-repeat;
}


#scroller {
	overflow: hidden;
	overflow-x: auto;
	margin-bottom:50px;
	margin-left: 243px;
	width: 720px;
	height: 17px;
}

#scroller::-webkit-scrollbar{
	height: 10px;
}

#items-info-wrapper::-webkit-scrollbar {
    width: 10px;
}

#scroller::-webkit-scrollbar-track, #items-info-wrapper::-webkit-scrollbar-track {
    background:#e5e5e5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#scroller::-webkit-scrollbar-thumb, #items-info-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #D80546;
}

#compare-modal-content-form option.disabled, #compare-modal-content-form option[disabled='disabled'] {
	color:#ccc;
	background:#ededed;
}


.subsection {
	border-bottom: 1px solid #CCC;
	margin-bottom: 6px;
	padding-top: 6px;
	padding-bottom: 8px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(230,230,230)),
	    color-stop(0.25, rgb(255,255,255)),
	    color-stop(0.75, rgb(255,255,255)),
	    color-stop(1, rgb(230,230,230))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 0%,
	    rgb(255,255,255) 25%,
	    rgb(255,255,255) 75%,
	    rgb(230,230,230) 100%
	);
}

.subsection h1 {	
	padding-left: 24px;
	font-size: 22px;	
	color: #5d5c5c;	
	padding-top: 60px;
	padding-bottom:16px;
	text-transform: uppercase;
}

.subsection h2 {
	text-transform: uppercase;
}

#compare-util {
	float:left;
	width:215px;
	margin-top: 12px;
	margin-left: 24px;
	font-size: 11px;
}

.lt-ie9 #compare-util {
	z-index:1;
}

#compare-util fieldset button {
	margin:28px 0px;
}

#compare-util fieldset label {
	line-height: 18px;
	display:block;
}

#compare-util input[type="checkbox"] + span::before {
	vertical-align: baseline;
}

.ratings li {
	margin:0px;
}

.item button {
	float: right;
}

p.product-details {
	margin-bottom:8px;
}

p.product-price, div.legal {
	float: none;
}

div.legal {
	clear: left;
	font-size: 8px;
	line-height: 6px;
	margin-left: 10px;
}