.form {
	margin: 0;
	position: relative;
}

fieldset.filter {
	padding-bottom: 18px;
	margin-bottom: 18px;
	border-bottom: 1px dotted #ccc;
}

ul.content {
	list-style-type: none;
	width: 999em;
}

legend {
	text-transform: uppercase;
	padding-bottom: 4px;
}

label {
	display: block;
	margin: 4px 0px;
}

label.last{
	padding-bottom: 10px;
}

label input {
	margin-right: 6px;
}
