.modelpicker-modal {
	position:absolute;
	top:0px;
	left:300px;
	width:300px;
	padding: 20px;
	background: #ececec;
	background: -moz-linear-gradient(bottom, #dedede, white 60%);
	background: -webkit-gradient(linear, 0 0, 0 60%, from(#fff), to(#ececec));
	box-shadow: 0px 0px 4px #444;
	-webkit-box-shadow: 0px 0px 4px #444;
	-moz-box-shadow: 0px 0px 4px #444;
	opacity:0;
	visibility:hidden;
	-webkit-transition: opacity .3s linear, visibility .3s linear;
    -moz-transition: opacity .3s linear, visibility .3s linear;
    transition:  opacity .3s linear, visibility .3s linear;
	z-index:1000;
}

.modelpicker-modal.active {
	opacity:1;
	visibility:visible;
}
.no-csstransitions .modelpicker-modal {
	display:none;
}

.no-csstransitions .modelpicker-modal.active {
	display:block;
}

.modelpicker-modal a.close {
	float: right;
	background: url("/common/images/global/lg-global-sprite.png") 0 -174px no-repeat transparent;
	height: 17px;
	width: 17px;
	text-indent: -9999px;
	cursor: pointer;
}

.modelpicker-modal-content {
	padding-top: 12px;
}

.modelpicker-modal-content section {
	margin-bottom: 12px;
}

.modelpicker-modal-content label {
	margin-right: 12px;
}

.modelpicker-modal-content select {
	vertical-align: top;
	margin-right: 12px;
	float:left;
}

.modelpicker-modal-content p span {
	color: #D80546;
}

#modelpicker-modal-content-form-results option.disabled, #modelpicker-modal-content-form-results option[disabled='disabled'] {
	color:#ccc;
	background:#ededed;
}

#model-picker-products-select {
	width:100px;
}

#product-image {
	float: left;
	width: auto;
	height: auto;
	min-width: 140px;
	min-height: 140px;
	margin-right: 8px;
	padding: 12px;
	text-align: center;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
}